MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=qris_db
MYSQL_USER=qris_user
MYSQL_PASSWORD=qris_password

MIDTRANS_IS_PRODUCTION=true
MIDTRANS_SERVER_KEY=YOUR_SERVER_KEY
MIDTRANS_CLIENT_KEY=YOUR_CLIENT_KEY
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256

EXPO_PUBLIC_API_URL=https://api.qris.cianjur.space
